<!-- Change this file to App.config -->

<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ApiKey" value="---------------------------------------" />
        <add key="InputFile" value="./Data/TCL_Metadata.xlsx" />
        <add key="OutputFilePrefix" value="TCL_Data" />
        <add key="FunStatsTxtFileOutputPath" value="./Data/Fun_Stats.txt" />
    </appSettings>
</configuration>